body{
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-create-btn{
  background: #008cba;
  color: #fff;
  font-size: 1rem;
  border-radius: 1.6rem;
  border: none;
  padding: 0.6rem;

}

.create-btn{
  padding-right: 1rem;
}

.fa-plus{ margin-right: 1rem; }

li{
  list-style: none;
  margin-bottom: 1rem;
}

main{
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

header{ width: 20%; }

.new-project-input{
  border-radius: 6px;
  height: 2rem;
  background: #efefef;
  width: 100%;
  position: relative;
  top: 2rem;
  border: 1px solid#efefef; 
  outline: none;
}

article{
  position: relative;
  top: 8rem;
  left: 8rem;
  width: 30%;
  height: 8rem;
  background: white;
  border-radius: 6px;
  padding: 8rem;
  display: none;
}

.new-project-btns{
 width: 100%;
 height: 100%;
}

.new-project-btns button{
  width: 49%;
  height: 50%;
  position: relative;
  top: 4rem;
  border: none;
  background: white;
  border-right: 2px solid #efefef;
  text-transform: uppercase;
  box-shadow: 1px 1px gray;
  outline: none;
}

.new-project-btns button:hover{
  background: #efefef;
}
input:focus{
  
}
aside{
  padding: 4rem;
  background: white;
  width: 40%;
  position: relative;
  top: 4rem;
}